{% if request.user.is_authenticated %}
    <header class="header">
        <a href="{% url 'dashboard' %}" class="header__icon" id="header__icon"></a>
        <a href="{% url 'dashboard' %}" class="header__logo">BudgetTracker</a>

        <nav class="menu">
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'transaction-list' %}">Transactions</a>
            <a href="{% url 'category-list' %}">Category</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
{% endif %}
