{% load staticfiles %}
<head>
    <title>
        {% block title %}Transaction{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'transaction/css/main.css' %}">
</head>


<body>
<div class="site-container">
    <div class="site-pusher">
        {% block nav %}
            {% include 'partials/nav.html' %}
        {% endblock %}
        <div class="site-content">
            <div class="container">
                {% block content %}

                {% endblock %}
            </div> <!-- END container -->
        </div> <!-- END site-content -->
        <div class="site-cache" id="site-cache"></div>
    </div> <!-- END site-pusher -->
</div> <!-- END site-container -->
</body>