{% extends 'base.html' %}

{% block content %}
    <h1>dashboard</h1>
    <div>Last 5 Transactions</div>
    <div class="dashboard--transaction--list">
    {% for transaction in  transactions %}
        <div class="badge">
            <div>
                {{ transaction.name }}
                <small class="location">{{ transaction.category }}</small>
                {% if transaction.transaction_type == 1 %}
                    <p class="type--debit">{{ transaction.value }}</p>
                {% else %}
                    <p class="type--credit">{{ transaction.value }}</p>
                {% endif %}
                <small class="location">{{ transaction.created_at | date }}</small>
            </div>
            <a class="link-button" href="{% url 'transaction-detail' transaction.id %}">Detail</a>
        </div>
    {% endfor %}
    </div>
    <a href="{% url 'transaction-list' %}" class="link-button">List All Transactions</a>
    <a href="{% url 'transaction-add' %}" class="link-button">Add Transaction</a></div>
{% endblock %}