{% extends "base.html" %}

{% block content %}

    <h2>Transactions</h2>
    <a href="{% url 'transaction-add' %}" class="link-button">Add Transaction</a>
    <div class="dashboard--transaction--list">
    {% for object in  object_list %}
        <div class="badge">
            <div>
                {{ object.name }}
                <small class="location">{{ object.category }}</small>
                {% if object.transaction_type == 1 %}
                    <p class="type--debit">{{ object.value }}</p>
                {% else %}
                    <p class="type--credit">{{ object.value }}</p>
                {% endif %}
                <small class="location">{{ object.created_at | date }}</small>
            </div>
            <a class="link-button" href="{% url 'transaction-detail' object.id %}">Detail</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}