{% extends "base.html" %}

{% block content %}

    <h2>Transactions</h2>
    <a href="{% url 'transaction-add' %}">Add Transaction</a>
    <table>
        {% include 'transaction/base_table.html' %}
        {% for object in  object_list %}
            <tr>
                <th>{{ object.name }}</th>
                <th>{{ object.category }}</th>
                <th>{{ object.value }}</th>
                <th>{{ object.created_at | date }}</th>
                <th><a href="{% url 'transaction-detail' object.id %}">Detail</a></th>
            </tr>
        {% endfor %}
    </table>
{% endblock %}